body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  height: 80vh;
  overflow: auto;
}
h3 {
  margin: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}
.ml-auto {
  margin-left: auto;
}
